# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# The hostname of your GitHub Enterprise instance. 
GHE_HOST="your-ghes.company.com"

# For further probot configuration settings, please have a look into
# https://probot.github.io/docs/configuration/


# Azure DevOps target repository to commit "pipeline.yaml" to
ADO_ORGURL="https://dev.azure.com/your_org"
ADO_PROJECT="your_project"
ADO_REPO="your_repository"
ADO_TOKEN="your_pat"